
a:hover {
    text-decoration: none; /* Eliminar el subrayado */
}
h3{
    font-size: 30px;
    color: rgb(0, 102, 7);
    transition: all 300ms;
}

h3:hover{
    transform: scale(1.15);
}
#pelicula{
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
    grid-gap: 30px;
}

#pelicula img{    
    transition: all 300ms;
    position: relative;
}

#pelicula img:hover{
    transform: scale(1.15);
}
