body {
  background-color: #2b2e3d;
  color: #ffffff;
}

h3 {
  color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
